<div class="homepage-community-band full-width-bg">
  <div class="component grid-wrapper">
    <div class="width-6-12 width-12-12-m justify-self-center">
      <img src="{{site.baseurl}}/assets/images/homepage/community_graphic.png">
    </div>
    <div class="width-6-12 width-12-12-m">
      <h2 class="text-caps">Join Our Community</h2>
      <p>
        Got questions? Want to discuss an issue in real-time? Then join us on IRC.<br/>
        Most of our project discussion take place on IRC, usually during European and American daytime. Chat with an IRC client: <a href="http://xchat.org/" target="_blank">XChat</a> (Linux), <a href="http://colloquy.info/" target="_blank">Colloquy</a> (Mac) and <a href="http://www.mibbit.com/" target="_blank">Mibbit</a> (any browser).<br/>
        Configure the IRC server to <code>chat.freenode.net:6667</code> or <code>chat.freenode.net:6697</code>, and join us on one of the following channels:
        <ul>
          <li><code>#drools</code></li>
          <li><code>#optaplanner</code></li>
          <li><code>#jbpm</code></li>
          <li><code>#appformer</code></li>
        </ul>
        See our projects at <a href="https://github.com/kiegroup" target="_blank">github.com/kiegroup</a> and <a href="https://github.com/kiegroup/droolsjbpm-build-bootstrap/blob/master/README.md">contribute</a>.
      </p>
    </div>
  </div>
</div>