<div class="homepage-hero-band gradient-bg full-width-bg">
  <!-- <div class="pattern-wrapper"> -->
    <div class="component grid-wrapper">
      <div class="width-4-12 width-12-12-m img-wrapper">
        <img src="{{site.baseurl}}/assets/images/homepage/kie_logo_icon.png">
      </div>
      <div class="width-8-12 width-12-12-m text-centered">
        <h1>What is KIE?</h1>
        <p>KIE is a open source community containing Drools rule engine, OptaPlanner constraint solver and jBPM workflow engine.</p>
      </div>
    </div>
  <!-- </div> -->
</div>